
.form h2,h3 {
    text-align: center;
}

.checkList {
    width: 70%;
    margin: auto;
}

.checkList img{
    width: 75px;
    height: 75px;
}

.checkList div {
    padding-top: 20px;
    // width: 100px;
    padding-bottom: 20px;
    text-align: center;
}

.checkList .list1,.list2,.list3,.list4,.list5 {
    width: 150px;
}

.checkList button {
    padding: 8% 10% 8% 10%;
    border: 1px solid black;
    border-radius: 10%;
    opacity: 0.7;
}

.checkList button:hover,input:hover,select:hover, textarea:hover{
    opacity: 1.0;
    background-color: #eebb4d;
}