//Vueper Slide
.vueperslide {
    // background: linear-gradient(-45deg, #eebb4d, #e3dfc8, #f5f1da, #eebb4d);
    background-image: url("../images/review.jpg");
    // opacity: 0.5;
    &__title {
        position: absolute;
        top: 10px;
        right: 20px;
        z-index: 10;
        font-size: 20px;
        opacity: 0.6;
        margin-top: 10px;
        font-weight: 900;
    }
    &__content {
        font-size: 30px;
        font-weight: 900;
    }
}
.vueperslides--parallax {
    height: 22rem;
}

.vueperslides__progress {
    background: rgba(0, 0, 0, 0.25);
    color: #b9d87d;
}

.vueperslides__arrow {
    color: #7b8469;
}

.vueperslides__arrow svg {
    stroke-width: 2;
}

.vueperslide__image {
    height: 450px;
    width: 450px;
}

.explanation {
    // border: 1px solid black;
    width: 70%;
    height: 25.5em;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #f5f1da;
    // background-position: right;
}

.reviews {
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

.explanation img {
    float: right;
    opacity: 0.7;
}

.products-login {
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

.products-logout {
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.buttons {
    margin-top: 30px;
    margin-left: 30px;
}

.buttons a:link,
a:visited {
    // background-color: #eebb4d;
    border: 1px solid #eebb4d;
    margin: 1%;
    margin-top: 3%;
    line-height: 49px;
    text-align: center;
    width: 144px;
    height: 49px;
    text-decoration: none;
    color: black;
    display: inline-block;
}

.buttons a:hover,
a:active {
    color: white;
    background-color: #eebb4d;
}

.pillList {
    margin: auto;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.recommend {
    margin: auto;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.description1 {
    margin: 30px;
    margin-top: 5%;
    height: 30%;
}

.description1 p {
    padding-top: 20px;
    font-weight: bold;
    font-size: 48px;
}
.description2 p {
    margin-top: 2.5em;
    margin-left: 3em;
    padding-top: 5px;
    font-size: 24px;
}

.logo {
    width: 15%;
    vertical-align: bottom;
    cursor: pointer;
}

/*section*/
.home section {
    width: 70%;
    margin: auto;
    background-color: #eceadf;
}

.home section .catchphrase {
    text-align: center;
}

.home .mainBanner {
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    // opacity: 0.8;
}

/*footer*/

footer {
    background-color: #eebb4d;
    margin-top: 50px;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    position: relative;
    width: 53%;
    margin: 0 auto;
}

footer .footer-container .col1 {
    width: 200px;
    padding: 25px 0 0 0;
    float: left;
}

footer .footer-container .col2 {
    // width: 50%;
    margin-left: 100px;
}

footer img {
    float: left;
    width: 150px;
    height: 150px;
}

footer .right {
    width: 100%;
    line-height: 1.8;
    padding: 0 0 20px;
    // float: left;
}

footer .right ul {
    margin-bottom: 4.25%;
    padding: 4% 0;
    padding-bottom: 8%;
    border-bottom: 1px solid black;
    list-style: none;
}

footer .right li {
    // position: relative;
    float: left;
    text-align: center;
    padding: 0 3% 0 3%;
    margin-right: 5%;
    margin-left: 8%;
    list-style: none;
}

footer a {
    text-decoration: none;
    color: black;
}
