.explanation {
    // border: 1px solid black;
    width: 80%;
    height : 25.5em;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: rgb(255, 239, 191);
    // background-position: right;
}

.explanation img {
    float: right;
}

.products {
    border: 1px solid black;
    width: 50%;
    height : 5em;
    margin:auto;
    margin-top: 20px;
}

.buttons {
    text-align: center;
    margin:auto;
}

.pillList {
    margin:auto;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.recommend {
    margin:auto;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.description1 {
    margin: 30px;
    margin-top:5%;
    height: 30%;
    // background-color: #ffffff;
    // opacity: 0.6;
  }
div.description1 p {
    padding-top: 20px;
    font-weight: bold;
    font-size: 48px;
    // color: #FF9900;
}

div.description2 {
    margin: 5%;
    padding-top: 10px;
    // font-weight: bold;
    font-size: 24px;
    // color: #FF9900;
}

.logo {
    width: 15%;
    vertical-align: bottom;
}